<div class="row">
  <div class="col-xs-12">
    <h1>All cocktails</h1>
  </div>
  <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="card">
        <h3><%= cocktail.name %></h3>
        <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
      </div>
    </div>
  <% end  %>
</div>

