<div class="row">
  <div class="col-xs-10">
    <h1>All cocktails</h1>
  </div>
  <div class="col-xs-2">
    <%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-danger" %>
  </div>
  <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path (cocktail.photo? ? cocktail.photo.path : 'default_cocktail_lhsyoy'  ), height: 300, width: 400, crop: :fill%>')">
        <h3><%= cocktail.name %></h3>
        <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
      </div>
    </div>
  <% end  %>
</div>

