<div class="navbar-wagon">
  <!-- Logo -->
  <div class="logo-title">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>
    <span class="navbar-name">COCKTAIL KIT</span>
  </div>




  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Button (call-to-action) -->
    <%= link_to "Manage ingredients", ingredients_path, class: "navbar-wagon-link" %>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
</div>
