.card {
  box-shadow: 0 0 4px #B3B3B3;
  background-color: #FBFBFB;
  padding: 20px;
  margin: 20px 0;
  position: relative;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
