.card {
  box-shadow: 0 0 6px #7F7F7F;
  background-color: #FBFBFB;
  padding: 20px;
  margin: 20px 0;
  position: relative;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
